.header{
    width: 100%;
    /* position: relative; */
    z-index: 10;
    background-color: var(--menu-link-color);
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.boxMidias{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}

.image{
    max-width: 165px;
    height: auto;
}


.boxMidias>a{
    padding: .5rem;
    background-color: var(--background-midia);
    color: var(--color-midia);
    border-radius: 10px;
    text-decoration: none;
}

.container:nth-child(even){
    background-color: var(--background-menu)
}

.navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.link{
    text-decoration: none;
    color: var(--menu-link-color);
    font-weight: bold;
    padding: .8rem;
    border-radius: 1rem;
    transition: transform 0.3s ease;
}

/* Buttons */
.button2{
    display: none
}

/* Hover */
.boxMidias>a:hover{
    background-color: var(--background-hover-midia);
    color: var(--background-midia)
}

.link:focus, .link:hover{
    color:var(--background-midia);
}


@media screen and (max-width: 749px){
    .boxMidias{
        display: none
    }
    .container{
        flex-direction: column;
        align-items: center;
        gap: 1rem
    }
}

@media screen and (max-width: 550px){
    .header{
        position: relative;
    }
    .container{
        flex-direction: row-reverse;
        align-items: center;
        border-bottom: 1px solid var(--background-menu);
    }

    .container:last-child{
        position: absolute;
        bottom: -1;
        width: 50%;
        border-radius: 1px 10px 10px 1px;
        box-shadow: 3px 3px 10px var(--menu-shadow);
    }

    .container:last-child > .navigation{
        flex-direction: column;
    }
    .link{
        font-size: 12px;
    }

    .menuHidden{
        display: none;
    }

}