.header{
    width: 100%;
    z-index: 10;
    background-color: var(--primary);
    position: fixed;
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: .5rem;
}

.image{
    width: 200px;
    height: auto;
    /* filter: hue-rotate(2000deg) */
}

.navigation{
    /* width: 100%; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    flex-grow: 2;
    font-size: 1.5rem;
    
}

.button{
    text-decoration: none;
    background-color: transparent;
    color: var(--light-font);
    font-weight: bold;
    margin: .8rem;
    border-radius: 1rem;
    border: none;
    transition: transform 0.3s ease;
    font-size: 1.5rem;
}

.button:focus, .button:hover{
    color:var(--secondary);
}

@media screen and (max-width: 480px){
    .container{
        flex-direction: column;
    }

    .navigation{
        width: 100%;
        justify-content: space-evenly;
    }

    .image{
        width: 200px
    }
}