.header{
    width: 100%;
    z-index: 10;
    background-color: var(--primary);
    position: fixed;
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.image{
    width: 165px;
    height: auto;
    /* filter: hue-rotate(2000deg) */
}

.navigation{
    /* width: 100%; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    flex-grow: 2;
}

.link{
    text-decoration: none;
    color: var(--secondary-lightiest);
    font-weight: bold;
    padding: .8rem;
    border-radius: 1rem;
    transition: transform 0.3s ease;
}

.link:focus, .link:hover{
    color:var(--prom);
}

@media screen and (max-width: 480px){
    .image{
        width: 130px
    }
}