@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.15;
  font-size: 1rem;
  font-family: 'Montserrat Alternates', sans-serif;
  text-decoration: none;
}

html{
  min-width: 350px;
  height: 100dvh;
}

.limit{
  max-width: 1024px;
  margin: 0 auto;
}

:root{
  /* Global Test */
  /* --primary: #BF526F;
  --primary-lightiest: #E4859D;
  --secondary: #9E9404;
  --secondary-lightiest: #F0E319; 
  --prom: #00175b;*/

  /* Global Definitive */
  --primary: #362971;
  --primary-lightiest:#1fb5b4;
  --secondary:#e5325a;
  --secondary-lightiest: #eec013;
    
  /* Datails */
  --light-font: #fff;
  --dark-font: #000;
  --prom-font: #7a7a7a;
  --hover: #ece5e5;
  --shadow: #7a7a7a;
}


