@import url('https://fonts.cdnfonts.com/css/rawline');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.15;
  font-size: 1rem;
  font-family: 'Rawline', sans-serif;
  text-decoration: none;
}

html{
  min-width: 350px;
}

.limit{
  max-width: 1024px;
  margin: 0 auto;
}

:root{
  --color-email: #7a7a7a;
  --gradient-green: #34BF02;
  --gradient-blue: #0093E3;
  --gradient-yellow: #FFB500;
  --gradient-green2: #8FEC02;
  --font-white: #fff;
  --font-black: #000;
  --background-midia: #1177ee;
  --color-midia: #fff;
  --background-hover-midia: #FFB500;
  --background-menu: #FF0000;
  --menu-link-color: #fff;
  --menu-shadow: #7a7a7a;
}
