@import url('https://fonts.cdnfonts.com/css/rawline');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.15;
  font-size: 1rem;
  font-family: 'Rawline', sans-serif;
  text-decoration: none;
}

html{
  min-width: 350px;
  height: 100dvh;
}

.limit{
  max-width: 1024px;
  margin: 0 auto;
}

:root{
  /* Global Test */
  --primary: #BF526F;
  --primary-lightiest: #E4859D;
  --secondary: #9E9404;
  --secondary-lightiest: #F0E319;
  /* --prom: #7D8CC4; */
    --prom: #00175b;
  /* Datails */
  --light-font: #fff;
  --dark-font: #000;
  --prom-font: #7a7a7a;
  --hover: #ece5e5;
  --shadow: #7a7a7a;
}


