.main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* height: 100dvh;; */
}

.containerBanner{
    width: 100%;
    height: 300px;
    position: relative; /* Necessário para posicionamento absoluto */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Para garantir que a imagem e o filtro não saiam do contêiner */
}

.banner{
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: absolute; /* Para que a imagem ocupe todo o contêiner */
    top: 0;
    left: 0;
}

.containerBanner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
    background-color: black;
}

.containerBanner>h2{
    position: absolute;
    z-index: 1; /* Para garantir que o título esteja acima da imagem e do filtro */
    color: var(--gradient-yellow); /* Cor do texto */
    font-size: 3rem;
    text-align: center;
}
