.main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    height: 100%;;
}

.conteudoTeste{
    padding: 3rem .5rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    text-align: justify;
    color: var(--prom-font)
}

.conteudoTeste>h2{
    text-align: center;
    color: var(--primary)
}

