.primary, .secondary{
    width: 100%;
    margin-top: 75px;
    min-width: 350px;
}

.imagem{
    width: 100%;
    height: auto;
}

/* .primary{
    background: url('../../../../public/thiago-site-rosa.png') no-repeat;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-size: cover;
    height:500px;
} */

/* .secondary{
    background: url('../../../../public/thiago-site-amarelo.png') no-repeat;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-size: cover;
    height:500px;
} */

/* Media */

@media screen and (max-width:480px ){
    .primary, .secondary{
        margin-top: 130px;
    }
    /* .secondary{
        display: none;
    } */
}
