.primary, .secondary{
    margin-top: 75px;
    min-width: 350px;
}

.primary{
    background: url('../../../../public/thiago-site-rosa.png') no-repeat;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-size: cover;
    height:500px;
}

.secondary{
    background: url('../../../../public/thiago-site-amarelo.png') no-repeat;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-size: cover;
    height:500px;
}

.image{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 300px;
    height: auto;
    filter: invert();
    top: 0;
}


/* Esconder */
.image{
    display: none
}

/* Media */

@media screen and (max-width:480px ){
    .primary, .secondary{
        margin-top: 130px;
    }
    /* .secondary{
        display: none;
    } */
}
