.primary, .secondary{
    margin-top: 75px;
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 50dvh;
    min-width: 350px;
}

.primary{
    background: url('../../../../public/thiago-site-rosa.png') no-repeat;
}

.secondary{
    background: url('../../../../public/thiago-site-amarelo.png') no-repeat;
}

.image{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 300px;
    height: auto;
    filter: invert();
    top: 0;
}


/* Esconder */
.image{
    display: none
}
