.container{
    width: 100%;
    background-color: var(--secondary);
}

.conteudo{
    padding: 3rem .5rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: var(--light-font);
    /* gap: 1rem; */
    text-align: justify;
}

/* Medias */

@media screen and (max-width: 500px){
    .conteudo{
        padding: 1rem .3rem;
    }
}

