.containerForm {
  width: 100%;
  padding-bottom: 5rem;
  box-sizing: border-box;
}

.content {
  text-align: justify;

  margin: 1.5rem auto;
  color: var(--light-font);
}

.content > h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--primary);
}

.legend {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  color: var(--primary);
  font-size: 2rem;
  font-weight: bold;
}

.form,
.group,
.subGroup,
.option {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  border: none;
}

.form {
  gap: 2rem;
}
.group {
  padding: 1rem;
}

.subGroup {
  flex-wrap: wrap;
  flex-direction: row;
}

.option > input,
.option > select,
.textArea,
.subGroup > input {
  width: 100%;
  padding: 0.5rem;
  border: solid 0.05rem var(--dark-font);
  border-radius: 10px;
  max-width: 1024px;
}

.textArea {
  height: 200px;
  width: 100%;
}

.option {
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.label {
  color: var(--primary);
  font-weight: bold;
  font-size: 1.4rem;
}

.group > .subGroup > .option {
  width: 225px;
  flex-grow: 1;
}

/* Box */

.box{
  display: flex;
  /* flex-wrap: wrap; */
  gap: .5rem;
}

/* Hover */
.option > input:hover,
.option > select:hover,
.select > option:hover,
.textArea:hover,
.subGroup > input:hover {
  background-color: var(--hover);
}

@media screen and (max-width: 660px) {
  .content {
    width: 90%;
  }
}
