/* Containers */
.footer{
    width: 100%;
    background-color: var(--primary-lightiest);
    color: var(--light-font);
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 10rem;
    position: relative;
}

.containerLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem
}



.assignature{
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.assignature{
    padding: 2rem 0;
    border-top: .1rem solid var(--primary);
}


/* Elements */
.image{
    max-width: 165px;
    height: auto;
}


.assignature>a{
    text-decoration: none;
    color: var(--light-font);
    font-style: italic;
    font-weight: 500;
}


/* Hover */
.assignature>a:hover{
    color: var(--secondary);
    text-decoration: underline;
}

/* Resolução abaixo de 650px */
@media screen and (max-width: 650px){
    .container{
        flex-direction: column;
        gap: 2rem;
    }

}