/* Containers */
.footer{
    width: 100%;
    background-color: var(--background-midia);
    color: var(--font-white);
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 10rem;
    position: relative;
}

.containerLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

.boxMidias{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}

.containerApoio, .assignature{
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.assignature{
    padding: 2rem 0;
    border-top: .1rem solid var(--gradient-yellow);
}

.containerApoio{
    flex-direction: column;
}

/* Elements */
.boxMidias>a{
    padding: .5rem;
    background-color: var(--color-midia);
    color: var(--background-midia);
    border-radius: 1rem;
    text-decoration: none;
}

.image{
    max-width: 165px;
    height: auto;
    filter: invert(1) hue-rotate(2000deg);
}

.assignature>a, .containerApoio>a{
    text-decoration: none;
    color: var(--gradient-yellow);
    font-style: italic;
    font-weight: 500;
}

.toTheTop{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 170px;
    right: 50px;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    font-size: 50px;
    color: var(--gradient-yellow);
    background-color: var(--background-menu);
}


/* Hover */
.boxMidias>a:hover{
    background-color: var(--background-hover-midia);
    color: var(--background-midia)
}

.toTheTop:hover{
    bottom: 190px;
    transition: transform 8s ease;
}

.assignature>a:hover, .containerApoio>a:hover{
    color: var(--background-menu)
}

/* Resolução abaixo de 550px */
@media screen and (max-width: 550px){
    .container{
        flex-direction: column;
        gap: 2rem;
    }
    .toTheTop{
        bottom: 320px
    }
    .toTheTop:hover{
        bottom: 340px
    }

}