/* Button Default */
.button{
    background-color: transparent;
    background-image: linear-gradient(160deg, var(--secondary-lightiest) 31%, var(--secondary) 95%);
    text-decoration: none !important;
    text-transform: uppercase;
    color: var(--dark-font);
    font-weight: bold;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    
}

/* Button Form */
.buttonForm{
    width: 200px !important;
    margin: 0 auto;
    display: block !important;
}

/* Button Newsletter */
.assign{
    padding: .4rem
}

/* Hover */
.button:hover{
    background-image: linear-gradient(160deg, var(--secondary) 31%, var(--secondary-lightiest) 95%);
    color: var(--light-font);
}


@media screen and (max-width: 550px){
    .button{
        display: block;
        font-size: 12px !important;
    }
}



